@charset "UTF-8";
html,
body {
  height: 100%;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*左侧*/
.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 1s;
}
.lt_aside.hidemenu {
  left: -180px;
}
.lt_aside .brand {
  height: 50px;
  width: 100%;
  background-color: #367FA9;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}
.lt_aside .brand a {
  color: #fff;
}
.lt_aside .user {
  height: 180px;
  padding-top: 30px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt_aside .user p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-bottom: 0;
}
.lt_aside .nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.lt_aside .nav li a i {
  margin-right: 5px;
}
.lt_aside .nav li a.current {
  background-color: #1D1F21;
  border-left: 3px solid #367FA9;
}
.lt_aside .nav .child {
  display: none;
}
.lt_aside .nav .child a {
  padding-left: 60px;
}
/*右侧*/
.lt_main {
  width: 100%;
  height: 100%;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
.lt_main.hidemenu {
  padding-left: 0;
}
.lt_main .topbar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #3C8DBC;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 180px;
  transition: all 1s;
}
.lt_main .topbar.hidemenu {
  padding-left: 0;
}
.lt_main .topbar a {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
}
.lt_main .breadcrumb {
  margin: 20px 0;
}
.lt_main .breadcrumb li.current {
  color: #777;
}
.lt_main .modal-body p {
  color: #A94442;
}
.lt_content .l_chart,
.lt_content .r_chart {
  height: 400px;
}
.lt_content .lt_table th,
.lt_content .lt_table td {
  text-align: center;
  vertical-align: middle;
}
