.lt_main .slide_list {
    width: 100%;
}
.lt_main .slide_list img {
    width: 100%;
    display: block;
}
.lt_main .nav {
    width: 100%;
    padding: 10px;
}
.lt_main .nav ul li{
    float: left;
    width: 33.3333%;
}
.lt_main .nav ul li img {
    display: block;
    width: 100%;
}
