.lt_line {
    padding:10px 0;
    border-top:1px solid #ccc;
}
.lt_product_content .lt_price .price {
    color: red;
}
.lt_product_content .lt_price .oldPrice {
    font-size: 12px;
    color: #666;
    text-decoration: line-through;
}
.lt_product_content .lt_num span{
    font-size: 12px;
    color: #666;
}
.lt_go_cart {
    height: 55px;
    border-top: 1px solid red;
    padding: 10px;
}
.lt_go_cart a {
    line-height: 34px;
}